.is-style-card {
    padding: var(--wp--preset--spacing--20);
    border-radius: var(--wp--custom--border-radius--lg);
    border: 2px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.08), 5px -5px 12px 0px rgba(255, 255, 255, 0.05) inset, -5px 5px 12px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(7.5px);
    transition: 0.3s ease-in-out;
    height: 100%;

    &.is-style-card-hover:hover {
        color: var(--wp--preset--color--neutral-100) !important;
        background-color: var(--wp--preset--color--background);
        
        figure.wp-block-image img {
            filter: invert(1);
        }
    }

    &:has(video) {
        border: 0;
    }

    video.rsfv-video,
    iframe.rsfv-video {
        aspect-ratio: 4/3 !important;
        height: 100% !important;
        object-fit: cover;
        border-radius: 0 var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0;
        
        @media ($below-mobile) {
            border-radius: var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0 0;
            max-height: 228px;
        }
    }

    .taxonomy-category {
        display: flex;
        gap: .5rem;
        align-items: flex-start;

        span {
            max-width: 10px;
        }
    }

    @media ($below-mobile) {
        flex-direction: column;

        figure.wp-block-post-featured-image {
            flex-basis: 100%;
        }
    }

    &.is-content-justification-left {
        max-height: 420px;
        border: 0;

        @media ($below-mobile) {
            max-height: 100%;
            flex-direction: column-reverse;
        }

        .wp-block-post-featured-image img {
            border-radius: 0 var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0;
            max-height: 418px;
            width: 100%;
            object-fit: cover;

            @media ($below-mobile) {
                border-radius: var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0 0;
                max-height: 248px;
            }
        }

    }
}



.is-style-card--horizontal {
    max-width: 80%;
    padding: 0;
    display: flex;

    > .wp-block-group {
        flex-basis: 50%;
        padding: var(--wp--preset--spacing--40);

        @media ($below-tablet) {
            padding: var(--wp--preset--spacing--20);
        }
        
        a {
            color: var(--wp--preset--color--white);
            text-decoration: none;
        }

        .wp-block-post-title {
            margin: 0;

        }

        .wp-block-post-excerpt__more-link {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 0.875rem;
            transition: .3s ease-in-out;
            z-index: 2;
            position: relative;

            &:hover {
                color: var(--wp--custom--color--link);
                gap: 1rem;
                text-decoration: underline;
            }
        }
    }

    > figure.wp-block-post-featured-image {
        flex-basis: 50%;
        display: block;
        margin: 0;
    }
}