.is-style-group-horizontal-scroll {
    gap: var(--wp--custom--layout--block-gap);
    padding: var(--wp--preset--spacing--20);
    margin: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    display: flex;

    .home & {
        padding-left: 20dvw !important;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    & > .wp-block-group, & > .wc-block-product  {
        flex: 0 0 auto !important;
        max-width: 316px;
        margin-block-start: 0;
        transition: transform .2s ease-in-out;

        @media ($below-mobile-xs) {
            max-width: 280px;
        }

        &:hover {
            transform: translateY(-1.25rem);
        }
    }
}

.wp-block-group.is-nowrap {
    .wp-block-image {
        line-height: 1;
    }
}

