.is-style-group-horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--wp--preset--spacing--20);
    padding: var(--wp--preset--spacing--20);
    margin: 0;  
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    height: 100%;
    

    &--is-padding {
        @media ($above-tablet) {
            margin-left: 20dvw !important;
        }   
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &.wp-block-post-template {
        padding: var(--wp--preset--spacing--20) 0 var(--wp--preset--spacing--20) 0;
    }

    & > .wp-block-group, & > .wp-block-post  {
        flex: 0 0 auto !important;
        max-width: 316px;
        margin-block-start: 0;
        transition: transform .2s ease-in-out;
        scroll-snap-align: start;

        @media ($below-mobile-xs) {
            max-width: 280px;
        }

        &:hover {
            transform: translateY(-1.25rem);
        }
    }

    & > .wp-block-post:nth-child(3n+1) {
        
        .wp-block-group.is-style-card {
            background-color: var(--wp--preset--color--primary);
            color: var(--wp--preset--color--white);

            a {
                color: var(--wp--preset--color--white);
            }
        }
    }

    & > .wp-block-post:nth-child(3n+2) {
        
        .wp-block-group.is-style-card {
            background-color: var(--wp--preset--color--neutral-100);
            color: var(--wp--preset--color--white);
        }
    }

}

.wp-block-group.is-nowrap {
    .wp-block-image {
        line-height: 1;
    }
}

