#masterhead {
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    transition: .6s ease-in-out;

    @media ($below-laptop) {
        left: auto;
        transform: none;
        right: 0;
        padding: 0 2rem;
    }

    .scrolled & {
        background-color: var(--wp--preset--color--neutral-80);
        max-width: 100%;
        padding: 0 var(--wp--custom--layout--block-gap);
    }
}

#mega-menu {
    position: fixed;
    z-index: 1000000;
    height: 100dvh;
    overflow-x: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(-100vh);
    transition: transform 0.3s ease-in-out;

    &.is-open {
        transform: translateY(0);
    }

    .wp-block-media-text {
        border-radius: var(--wp--custom--border-radius--lg);
        position: relative;
        height: 100%;

        .wp-block-media-text__content {
            padding: 1.5rem;

            .is-style-title-has-image {
                margin: 0;
                a {
                    text-decoration: none;
                }
            }
        }

        figure.wp-block-media-text__media {
            border-radius: 0 var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0;
        }
    }

    .wp-block-navigation-item {
        width: 100%;
    }

    .wp-block-navigation-item__content {
        border-bottom: 1px solid;
        padding-bottom: .5rem;
        position: relative;
        display: flex;
        gap: .5rem;
        align-items: start;
        line-height: 1;
        width: 100%;

        &::before {
            content: url(./assets/icons/icon-add.svg);
            display: block;
            width: 1rem;
            height: 1rem;
            transition: .5s ease-in-out;
        }

        &:hover::before {
            margin-right: 1rem;
        }
    }

    a {
        text-decoration: none;
    }
}

.main-nav {
    background: var(--wp--custom--color--neutral-white);
    border-radius: var(--wp--custom--border-radius--rounded);
    padding: .75rem 1.5rem;  

    a.wp-block-navigation-item__content:hover {
        color: var(--wp--custom--color--link);
    }

    .scrolled & {
        @media ($above-tablet) {
            background: var(--wp--preset--color--neutral-80);
            transition: .3s linear;
    
            a {
                color: var(--wp--preset--color--white) !important;
                &:hover { color: var(--wp--custom--color--link) !important; }
            }
        }
    }
}

.wp-block-navigation__responsive-container.is-menu-open {
    
    ul.wp-block-navigation__container {
        @media ($below-mobile) {
            .wp-block-navigation-item__label {
                font-size: var(--wp--preset--font-size--heading-3);
            }
        }
    }
    
        
}
