.wp-block-query {
    .wp-block-post {

        & > .wp-block-group.has-background-background-color {
            border-radius: var(--wp--custom--border-radius--lg);
        }
         

        a {
            text-decoration: none;
        }
    }

    .wp-block-group.is-style-card {

        & > .wp-block-group {
            @media ($below-mobile) {
                order: 2;
            }
        }

        & > .wp-block-post-featured-image {
            @media ($below-mobile) {
                order: 1;
            }
        }

        .wp-block-post-featured-image {

            @media ($above-mobile) {
                aspect-ratio: 1/1 !important;
            }

            img {
                border-radius: var(--wp--custom--border-radius--lg) 0 0 var(--wp--custom--border-radius--lg);
    
                @media ($below-mobile) {
                    border-radius: var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0 0;
                }
            } 

            video {
                border-radius: var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0 0;
            }

        }

        &.is-content-justification-left {

            > .wp-block-group {
                @media ($below-tablet) {
                    padding: var(--wp--preset--spacing--20) !important;
                }
            }


            .wp-block-post-featured-image {

                img, video {
                    border-radius: 0 var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0;
        
                    @media ($below-mobile) {
                        border-radius: var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0 0;
                    }
                } 
            }
        }
    }
}
