.wp-block-query {
    .wp-block-post {

        & > .wp-block-group.has-background-background-color {
            border-radius: var(--wp--custom--border-radius--lg);
        }
        
        .wp-block-post-featured-image img {
            border-radius: var(--wp--custom--border-radius--lg) 0 0 var(--wp--custom--border-radius--lg);

            @media ($below-mobile) {
                border-radius: var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0 0;
            }
        }    

        a {
            text-decoration: none;
        }
    }

    .wp-block-group.is-style-card {

        & > .wp-block-group {
            @media ($below-mobile-xs) {
                flex-basis: 100%;
                order: 2;
            }
        }

        & > .wp-block-post-featured-image {
            @media ($below-mobile-xs) {
                flex-basis: 100%;
                order: 1;

                video {
                    border-radius: var(--wp--custom--border-radius--lg) var(--wp--custom--border-radius--lg) 0 0;
                }
            }
        }
    }
}
