:where(.wp-block-group.has-background) {
    padding: var(--wp--custom--layout--block-gap);
}

body .is-layout-flow {

    & > .wp-block-image.alignright {
        margin-inline-start: 0;
    }

    & > .wp-block-image.alignleft {
        margin-inline-end: 0;
    }

} 

.mt-0 {
    margin-block-start: 0;
}
.pl-1 {
    padding-left: var(--wp--preset--spacing--10);
}

.pl-15 {
    padding-left: 1.25rem;
}

.pl-2 {
    padding-left: var(--wp--preset--spacing--20);
}