ol.has-background, ul.has-background {
    padding: 0;
}

ul.is-style-separator-list {
	margin: 0;
    padding: 0;
    list-style: none;

    li {
        border-bottom: 1px solid;
		padding: var(--wp--preset--spacing--10) 0;

        &:first-child {
            border-top: 1px solid;
            margin-top: var(--wp--preset--spacing--30);
        }

        a {
            text-decoration: none;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transition: translate .2s ease-in;
            color: inherit;

            &:hover {
                translate: var(--wp--preset--spacing--20);
                cursor: pointer;
            }
        }
    }
}