.wp-block-post-title a {
	text-decoration: none;
}

.has-heading-1-font-size,
.has-heading-2-font-size {
	line-height: var(--wp--custom--line-height--tiny);
}
.has-heading-3-font-size,
.has-heading-4-font-size,
.has-heading-5-font-size,
.has-heading-6-font-size {
	line-height: var(--wp--custom--line-height--headings);
}

