#hero {
    position: relative;

    .wp-block-cover {
        
        video.rsfv-video {
            border: none;
            bottom: 0;
            box-shadow: none;
            height: 100%;
            left: 0;
            margin: 0;
            max-height: none;
            max-width: none;
            object-fit: contain;
            outline: none;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            object-position: 100% 0%;

            @media ($below-mobile) {
                object-fit: cover;
            }
        }

        .wp-block-cover__image-background {
            
            @media ($below-mobile) {
                object-fit: cover;
            }
        }
    }
}