main {
    animation: bodyAnimation ease-in-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes bodyAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#section-tecnologias {
    
    .wp-block-cover__background {
        opacity: 0.3;
        background: url(./assets/img/bg-section-tecnologias.png), lightgray -6px -8px / 100% 100% no-repeat, var(--wp--preset--color--neutral-10);
        mix-blend-mode: lighten;
    }
}