.sectores-container {
    display: flex;
    gap: var(--wp--custom--layout--block-gap);
    align-items: center;

    .sectores-posts.is-style-group-horizontal-scroll {
        padding: 0;

        .wp-block-group:hover {
            transform: translateX(0);
        }
    }

    .is-style-card {
        max-width: 80% !important;
        
    }
}

.sectores-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 20%;

    a.sector-link {
        color: var(--wp--preset--color--bodytext);
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--wp--preset--font-size--caption);
        font-weight: 600;

        &:hover {
            color: var(--wp--preset--color--primary);
            cursor: pointer;
        }
    }
}

