.sectores-container {
    display: flex;
    gap: var(--wp--custom--layout--block-gap);
    align-items: center;

    @media ($below-tablet) {
        flex-direction: column;
        align-items: normal;
    }

    .is-style-card {
        max-width: 80% !important;

        @media ($below-tablet) {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }

        & >figure.wp-block-post-featured-image {
            max-height: none;
            position: relative;

            @media ($below-mobile) {
                max-height: 248px;
            }

            video.rsfv-video,
            iframe.rsfv-video {
                aspect-ratio: unset !important;
                position: absolute;
                @media ($below-mobile) {
                    position: relative;
                }
            }
        }
        
    }
}

.sectores-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 20%;
    padding: var(--wp--preset--spacing--20);
    border-radius: var(--wp--custom--border-radius--lg);
    background-color: var(--wp--preset--color--neutral-80);

    a.sector-link {
        color: var(--wp--preset--color--white);
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--wp--preset--font-size--caption);
        font-weight: 600;

        &.sector-link--active {
            color: var(--wp--preset--color--primary);
        }

        &:hover {
            color: var(--wp--preset--color--primary);
            cursor: pointer;
        }
    }
}

