<!-- wp:template-part {"slug":"cabecera-dentro-de-imagen-de-fondo-de-ancho-completo","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Breadcrumbs"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[rank_math_breadcrumb]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"mt-0"} /-->