<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"bodytext","layout":{"type":"constrained"},"metadata":{"name":"HERO"}} -->
<div class="wp-block-group alignfull has-bodytext-background-color has-background" id="hero" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":20,"overlayColor":"bodytext","focalPoint":{"x":1,"y":0},"minHeight":90,"minHeightUnit":"vh","isDark":false,"align":"full","textColor":"background","className":"is-style-cover-contain-background","layout":{"type":"constrained"}} -->
<div class="wp-block-cover alignfull is-light is-style-cover-contain-background has-background-color has-text-color" style="min-height:90vh"><span aria-hidden="true" class="wp-block-cover__background has-bodytext-background-color has-background-dim-20 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph {"align":"left","placeholder":"Escribe el título…","style":{"typography":{"textTransform":"uppercase"}},"fontSize":"body"} -->
<p class="has-text-align-left has-body-font-size" style="text-transform:uppercase">Casos de uso</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"style":{"typography":{"textTransform":"uppercase"}}} /-->

<!-- wp:post-excerpt {"moreText":""} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"right"}} -->
<div class="wp-block-buttons"><!-- wp:button {"style":{"typography":{"textTransform":"uppercase"}},"className":"is-style-theme-with-icon"} -->
<div class="wp-block-button is-style-theme-with-icon" style="text-transform:uppercase"><a class="wp-block-button__link wp-element-button" href="https://viral.sumun.net/etiqmedia/contactar/">Contactar</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"mt-0","metadata":{"name":"Main Content"}} -->
<main class="wp-block-group mt-0"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"recursos-y-novedades"} /-->

<!-- wp:template-part {"slug":"footer"} /-->