<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-featured-image /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"small"} -->
<div class="wp-block-group has-small-font-size"><!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category","prefix":"Caregorías: "} /--></div>
<!-- /wp:group -->

<!-- wp:post-content /-->

<!-- wp:post-terms {"term":"post_tag"} /-->

<!-- wp:post-author /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->